.article-accordion {
  .article-accordion-content {

    @include breakpoint(medium up) {
      display: block !important;
    }
  }

  .article-accordion-title {
    color: unset;

    @include breakpoint(medium up) {
      cursor: default;
    }

    &:before {
      content: "+";
      position: absolute;
      right: 1rem;
      top: -.5rem;
      font-size: 2rem;
      width: 1.5rem;
      text-align: center;

      @include breakpoint(medium up) {
        display: none;
      }
    }
  }

  .is-active>.article-accordion-title {
    &:before {
      content: '\2013';
    }
  }
}

.accordion {
  .accordion-item {
    .accordion-title {
        border-left: none;
        border-right: none;
        line-height: normal;
        p {
          margin-bottom: 0;
        }
        &:before {
          top: auto;
          bottom: 1rem;
        }
        .media-control {
          top: 1rem;
        }
        &:hover {
          background: rgba($medium-gray, .1);
        }
    }
    .accordion-content {
        border-left: none;
        border-right: none;
        border-top-color: $light-gray;
        ul {
          margin-bottom: 1rem;
        }
    }
  }
}
