// Article Intro
.intro {
  @include breakpoint(medium) {
    z-index: 10;
    position: relative;

    .sticky {
      padding-top: $global-padding;
    }
  }

  .medium-8 {
    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 7.25rem;;
      bottom: 0;
      left: 0;
      background: $primary-color;
      transform: translateX(100%);
      z-index: 1;
    }

    a {
      color: $white;
      text-decoration: underline;
    }
  }

  .cell {
    &:last-child {
      padding-top: $global-padding;
      color: $white;
      background: $primary-color;

      @include breakpoint(medium) {
        transform: translate(0, -7.25rem);
        margin-bottom: -7.25rem;
      }

      @include breakpoint(medium down) {
        padding-top: 4rem;
        padding-bottom: 3rem;
      }

      .head {
        margin-bottom: calc(2rem - 1px);
        position: relative;

        .media-control {
          right: 0;
        }

        h2 {
          margin: 0;
          line-height: 1;
          max-width: calc(100% - 6rem);
        }

        p {
          font-style: italic;
        }

        &:before {
          content: "";
          height: 0.25rem;
          width: 3rem;
          background: $white;
          box-shadow: 0.175rem 0.175rem 0 $secondary-color;
          position: absolute;
          top: calc(100% + 1.5rem - .175rem / 2);
        }
      }

      .content {
        padding-bottom: $global-padding;
        padding-top: calc(1rem + 1px);
        position: relative;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Article Sections
.chapter {

  padding-top: 2rem;
  padding-bottom: 2rem;

  p:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(medium) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &:nth-child(2n + 1) {
    background: rgba($medium-gray, .1);
  }

  .chapter-inner {
    position: relative;

    h2 {
      position: relative;
      margin-bottom: 3.25rem;
      line-height: 1;
      max-width: calc(100% - 6rem);

      &:before {
        content: "";
        height: 0.25rem;
        width: 3rem;
        background: $medium-gray;
        box-shadow: 0.175rem 0.175rem 0 $secondary-color;
        position: absolute;
        top: calc(100% + 1.5rem - .175rem / 2);
      }
    }
  }
}

.chapter-spacer {

  padding-top: 2rem;
  padding-bottom: 2rem;

  p:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(medium) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
