.home {
  .grid-x {
    align-items: stretch;
    &.offset {
      transform: translate(0, -4rem);
      box-shadow: 0 0 2rem rgba($black, .3);
    }
    .grid-x {
      height: 100%;
      box-shadow: 0 0 1rem rgba($black, .5);
    }
    .cell {
      min-height: calc(1024px / 6);
      background-size: cover !important;
      a {
        text-decoration: underline;
      }
      &.primary {
        background: $primary-color;
        color: $white;
        a {
          color: $white;
        }
      }
      &.gray {
        background: $medium-gray;
        color: $white;
      }
      &.light-gray {
        background: $light-gray;
      }
    }
  }
}
