@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:after, [class*=" icon-"]:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .icon-shuffle:after {
//   content: "\e900";
// }
// .icon-arrow-backtop:after {
//   content: "\e901";
// }
// .icon-arrow-down:after {
//   content: "\e902";
// }
// .icon-arrow-left:after {
//   content: "\e903";
// }
// .icon-arrow-right:after {
//   content: "\e904";
// }
// .icon-arrow-top:after {
//   content: "\e905";
// }
.icon-arrows-expand:after {
  content: "\e906";
}
.icon-arrows-tiny:after {
  content: "\e907";
}
.icon-pause:after {
  content: "\e908";
}
.icon-play:after {
  content: "\e909";
}
.icon-night-mode:after {
  content: "\e90a";
}
.icon-day:after {
  content: "\e90b";
}
