.news {
  position: relative;
  padding: 2rem 0;

  h3 {
    position: relative;
    margin: .75rem 0 1.5rem;
    line-height: 1;

    &:before {
      content: "";
      height: 0.25rem;
      width: 3rem;
      background: $medium-gray;
      box-shadow: 0.175rem 0.175rem 0 $secondary-color;
      position: absolute;
      top: calc(100% + .75rem - .175rem / 2);
    }
  }

  .cell:last-child {
    margin-top: 2rem;
  }
}
