.orbit {
  .orbit-container {
    outline: none;
    max-height: 70vh;
    figure {
      figcaption {
        position: absolute;
        top: 1rem;
        right: 1rem;
        bottom: auto;
        width: 33.33333%;
        max-width: 20rem;
        display: inline-block;

      }
    }
  }
}
