.orbit {
  &.large{
    .orbit-container {
      outline: none;
      max-height: 70vh;
      figcaption {
        display: inline-block;
      }
    }
  }

  .orbit-container {
    outline: none;
    max-height: 30vh;
    figure {
      figcaption {
        position: absolute;
        top: 1rem;
        right: 1rem;
        bottom: auto;
        width: 33.33333%;
        max-width: 20rem;
        display: none;

      }
    }
  }
}
